#-------------------------------------------------------------
#                                                 CORE SETUP
#-------------------------------------------------------------
PROJECT_NAME="skeleton I"
NODE_ENV="development"
CORS_URL=*
SECRET="one calm mind"
SITE_URL="http://127.0.0.1"
PORT="3000"

#-------------------------------------------------------------
#                                         FrontEnd Addresses
#-------------------------------------------------------------

ACCOUNT_SETUP_URL="http://127.0.0.1:4000/signup"
FRONTEND_APP_DROPIN="http://127.0.0.1:4000/"
INVITATION_SIGNUP_URL="http://127.0.0.1:4000/"
FRONTEND_LOGIN_URL="http://127.0.0.1:4000/"

#-------------------------------------------------------------
#                                        Storage Connections
#-------------------------------------------------------------

MONGODB_CONNECTION_STRING="mongodb://localhost:27017/starter_project"
MONGO_DB_NAME="starter_project"
# MONGODB_CONNECTION_STRING="mongodb://root:admin@localhost:27017/starter_project?authSource=admin"
# REDIS_CONNECTION_STRING="redis://:@127.0.0.1:6379"

#-------------------------------------------------------------
#                                           Mail Credentials
#-------------------------------------------------------------

SMTP_HOST="smtp.mailgun.org"
SMTP_PORT="465"
SMTP_FROM_ADDRESS=""
SMTP_AUTH_USER=""
SMTP_AUTH_PASSWORD=""

#-------------------------------------------------------------
#                             P A S S W O R D  &  T O K E N
#-------------------------------------------------------------
ACCESS_TOKEN_VALIDITY_DAYS=30
REFRESH_TOKEN_VALIDITY_DAYS=120
TOKEN_ISSUER=www.instacky.com
TOKEN_AUDIENCE=instacky_users
SALT_ROUNDS=10

#-------------------------------------------------------------
#                                                   L O G S
#-------------------------------------------------------------

TRACE_STACK_FOR_ALL_TYPE_OF_ERROR=1
LOGGER_FILES_PERSISTENT_DAY_COUNT=3

#-------------------------------------------------------------
#                                                     Others
#-------------------------------------------------------------

TZ="UTC"
