#-------------------------------------------------------------
#                                                 CORE SETUP
#-------------------------------------------------------------

NODE_ENV="development"
SITE_URL="http://127.0.0.1"
PORT="3000"
API_VERSION="1"
SECRET="one calm mind"

#-------------------------------------------------------------
#                                         FrontEnd Addresses
#-------------------------------------------------------------

ACCOUNT_SETUP_URL="http://127.0.0.1:4000/signup"
FRONTEND_APP_DROPIN="http://127.0.0.1:4000/"

#-------------------------------------------------------------
#                                        Storage Connections
#-------------------------------------------------------------

MONGODB_CONNECTION_STRING="mongodb://localhost:27017/starter_project"
# MONGODB_CONNECTION_STRING="mongodb://root:admin@localhost:27017/starter_project?authSource=admin"
# REDIS_CONNECTION_STRING="redis://:@127.0.0.1:6379"

#-------------------------------------------------------------
#                                           Mail Credentials
#-------------------------------------------------------------

SMTP_HOST="smtp.mailgun.org"
SMTP_PORT="465"
SMTP_FROM_ADDRESS=""
SMTP_AUTH_USER=""
SMTP_AUTH_PASSWORD=""

#-------------------------------------------------------------
#                                                     Others
#-------------------------------------------------------------

TZ="UTC"
SALT_ROUNDS=10
AUTH_TOKEN_VALIDITY_DAY=7